.header-group {
	min-height:30px;
	background-color: rgba(33, 33, 33, 0.5);
	ul {
		margin-bottom: 0;
	}
	ul li, ul li a{
				font-size: 11px;
				color: #f6b439;
			}

}
.navbar-brand {
	padding: 10px 15px !important;
	width: 500px;
	img {
		margin-right: 10px;
	}
}
.carousel {
	margin-bottom: 30px
}
.highlight-caption {
	background-color: rgba(33, 33, 33, 0.5);
	padding: 6px;
	text-transform: uppercase;
}
.title-caption {
	margin: 10px 0;
	color: #f6b439;
	font-weight: 900;
	text-transform: uppercase;
}
.well.container-links {
	background-color: #696969;
	border: 1px solid #696969;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	margin-top: 40px;
	font-size: 13px;
}
footer {
	p {
		margin-top: 20px;
	}
}
.interior-pages {
	padding-top: 150px;
	// padding-bottom: 50px;
	h3 {
	color: #f5f5f5 ;
	}
	.date-hour {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
	}
	.img-article-example {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.case {
	border-bottom: gray 1px solid;
	padding-bottom: 20px;
}
.navbar-brand h3 {
	margin-top: 5px;
}
p.question {
	font-size: 1em;
	color: #fff;
}
.table.table-quiz {
	tr > th {
		font-size: 1em;
		color: #fff;
		border-bottom: 2px solid transparent;
	}
	tr > td {
		border-top: 1px solid transparent;
	}
	
}
.table-hover > tbody > tr:hover {
	background-color: #515151;
}

// WIZARD

.easyWizardSteps {list-style:none;width:100%;overflow:hidden;margin:0;padding:0;border-bottom:1px solid #ccc;margin-bottom:20px}
.easyWizardSteps li {font-size:18px;display:inline-block;padding:10px;color:#999;margin-right:20px;}
.easyWizardSteps li span {font-size:24px}
.easyWizardSteps li.current {color:#fff; font-weight: bold}
.easyWizardButtons {overflow:hidden;padding-right:10px; margin-top: 30px;}
.easyWizardButtons .prev.btn {margin-right: 10px;}
// .easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
 //.easyWizardButtons .prev {float:left}
// .easyWizardButtons .next, .easyWizardButtons .submit {float:right}